body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
:root {
  --btn-color: #ffffff;
  --head-title-span-color: #2e2f42;
  --head-title-color: #4d5ae5;
  --head-focus-color: #404bbf;
  --tel-color: #434455;
  --footer-span-color: #f4f4fd;
  --footer-discription-color: #e7e9fc;
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
}
.item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  color: var(--btn-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----------------header----------------- */
.header {
}
.header-navigation {
}
.header-title span {
  color: var(--head-title-span-color);
}
.header-list {
}
.header-title {
  font-family: "Raleway";
  font-weight: 800;

  font-size: 18px;
  line-height: 1.33;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: var(--head-title-color);
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--head-title-span-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--head-focus-color);
}
.header-item {
}
.header-address {
  font-style: normal;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--head-focus-color);
}
.header-tel {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--tel-color);
}

/* ----------------effective----------------- */

.effective {
  background-color: #2e2f42;
}
.effective-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--btn-color);
}
.effective-btn {
  color: var(--btn-color);
  background-color: var(--head-title-color);
}
.effective-btn:hover,
.effective-btn:focus {
  background-color: var(--head-focus-color);
}
/* ----------------features----------------- */

.features {
}
.features-list {
}
.features-item {
}
.features-item-title {
  color: var(--head-title-span-color);
}
.features-item-subtitle {
  color: var(--tel-color);
}
/* ----------------img----------------- */
.img {
}
.img-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--head-title-span-color);
}
.img-list {
}

.img-item {
}
/* ----------------team----------------- */
.team {
  background-color: var(--footer-span-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: var(--head-title-span-color);
}
.team-list {
}

.team-item {
}
.team-item-title {
  color: var(--head-title-span-color);
}
.team-item-subtitle {
  color: var(--tel-color);
}
/* ----------------footer----------------- */
.footer {
  background-color: var(--head-title-span-color);
}
.footer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: var(--head-title-color);
}
.footer-link span {
  color: var(--footer-span-color);
}

.footer-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CORNFLOWER */

  color: var(--footer-discription-color);
}
/* ----------------PORTFOLIO!!!!!!------------------------------------------------------------------------------------ */
/* ----------------buttons----------------- */

.buttons-list {
}

.button-item {
}
.button-btn {
  color: var(--head-title-color);
  background-color: var(--footer-span-color);
}
.button-btn:hover,
.button-btn:focus {
  background: var(--head-focus-color);
  color: var(--btn-color);
}
/* ----------------banking----------------- */

.banking-list {
}

.banking-item {
}
.banking-item-title {
  color: var(--head-title-span-color);
}
.banking-item-subtitle {
  color: var(--tel-color);
}
/* ----------------taxi----------------- */

.taxi-list {
}
.taxi-item {
}
.taxi-item-title {
  color: var(--head-title-span-color);
}
.taxi-item-subtitle {
  color: var(--tel-color);
}
/* ----------------instagram----------------- */

.instagram {
}
.instagram-list {
}

.instagram-item {
}
.instagram-item-title {
  color: var(--head-title-span-color);
}

.instagram-item-subtitle {
  color: var(--tel-color);
}
